// Палітра кольорів
$black: #000000;
$white: #ffffff;
$purple: #4543E8;

// Container width
$maxWidthContainer: 1440px;

// Section width
$maxWidthSection: 1280px;

// Стилі по замовчуванню
$fontSize: 16px;
$color: black;