.title {
    font-size: 60px;
    line-height: 66px;
}

.work {
    padding: 0 80px;
    margin: 180px auto 0 auto;

    @media (max-width:800px){
        padding: 0 20px;
        margin: 80px auto 0 auto;
     }
}

.work__title {
    margin-top: 26px;
    max-width: 700px;

    @media (max-width:1200px){
        max-width: 100%;
     }

     @media (max-width: 800px){
        font-size: 50px;
        line-height: 53px;
        margin-top: 20px;
     }

     @media (max-width: 600px){
        font-size: 34px;
        line-height: 38px;
     }
}

.work__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width:1200px){
        justify-content: center;
     }
}

.work__img {
    @media (max-width:1300px){
        width: 100%;
     }
}

.work__item {
    max-width: fit-content;
    
    @media (max-width:1300px){
        max-width: 510px;
     }

     @media (max-width:1200px){
        margin-right: 20px;
        max-width: 800px;
        width: 100%;
     }

     @media (max-width:1179px){
        margin-right: 0;
     } 
}

.work__item1 {
    margin-top: 50px;

    @media (max-width:800px){
        margin-top: 0;
     }
}

.work__item2 {
    margin-top: 50px;

    @media (max-width:800px){
        margin-top: 0;
     }
}

.work__item3 {
    margin-left: 390px;
    margin-top: 80px;

    @media (max-width:1300px){
        margin-left: 0;
        margin-top: 50px;
     }

     @media (max-width:800px){
        margin-top: 0;
     }
}

.work__item4 {
    margin-top: 55px;

    @media (max-width:1300px){
        margin-top: 50px;
     }

     @media (max-width:800px){
        margin-top: 0;
     }
}

.work__item5 {
    margin-top: 55px;

    @media (max-width:1300px){
        margin-top: 50px;
     }

     @media (max-width:800px){
        margin-top: 0;
     }
}

.img__url {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.img__name {
    font-size: 24px;
    line-height: 30px;
}

.work__description {
    font-size: 12px;
    line-height: 28px;
    max-width: 500px;
    margin-top: 23px;
    padding-bottom: 24px;
}

.work__description3 {
    max-width: 700px;
    font-size: 16px;
    line-height: 28px;
}

.work__description4 {
    max-width: 459px;
}


.arrow {
    &:hover {
        opacity: 0.5;
    }
}

.work__button {
    color: $white;
    justify-content: center;
    align-items: center;
}

.projects__button {
    text-transform: uppercase;
    background-color: $purple;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    padding: 56px 40px;
    width: 160px;
    margin-top: 60px;
    justify-self: center;
    margin-bottom: 120px;

    &:hover {
        opacity: 0.9;
        transition-duration: 200ms;
    }

    @media (max-width:1200px){
        display: flex;
        padding: 15px 40px;
        width: fit-content;
        margin-top: 20px;

        .projects {
            margin-left: 5px;
        }
     }

     @media (max-width:800px){
        margin-bottom: 40px;
     }
}

